body{
  margin : 0px;
}

#navbar{
  background-color: #0087c7;
  height: 75px;
  width: 100%;
  padding: 20px;
  
}

#topnav-logo{
  height: 100%;
  margin-left:30%;
  margin-right: 25%;
}

.navbar-button{
  display:inline-block;
  padding: 30px;
  color: white;
  cursor: pointer;
}

#product-name-row{
  font-size: 300%;
  margin-left: 17%;
  font-weight: bold;
  margin-top : 30px;
}

#product-name{
  margin:0%;
}
#product1 {
  height: 680px;
  padding: 5px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  display: flex;
  justify-content: center;

}

.child1 {
  width: 80%;
  margin-top: 0%;
  padding: 3%;
}

.child1-5{
  width: 90%;
  margin-top:5%;
  background-image: url(C:/Users/Wan_jun_Tham/Documents/training/assets/xps-15-lt-2018.webp);
  background-size: contain;
  background-repeat: no-repeat;
}

.spec-photo {
display: inline-block;
height: 200px;
width: 150px;
padding: 3%;
border-style: outset;

}

.spec-detail-photo{
  height: auto;
  width: 120px;
  margin-left: 10%;
  
}

#spec-detail-nvidia{
  width:120px;
  height:auto;
  margin-bottom: 18%;
  margin-left: 10%;
}

.spec-detail{
  font-size: 150%;
  display: flex;
  justify-content: center;
  text-align: center;
}

#spec-bar {
  background-color: lightgray;
  height: 50px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* flex-direction: column;
  align-items: center; */
}

.child2 {
  height: 30%;
  width: 20%;
  margin: 0 auto;
  margin-right: 50px;
  text-align: center;
  padding: 15px;
  color: #0087c7;
  font-size:140%;
}

.child2-customize {
  height: 30%;
  width: 5%;
  margin: 0 auto;
  margin-right: 50px;
  text-align: center;
  padding: 15px;
  color: #0087c7;
  font-size:140%;
  background-color: aquamarine;
  border-radius: 10px;
  border: 0.5px solid white;
}
#parent3 {
  background-color: black;
  height: 30px;
  padding: 5px;
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center;

}

.child3 {
  margin:5px;
  color:white;
  height: 60%;
  width: 15%;
  display:inline-block;
  text-align: center;
  font-size: 110%;
  cursor: pointer;
}
