body{
  margin : 0px;
}

#navbar{
  background-color: #0087c7;
  height: 75px;
  width: 100%;
  padding: 10px;
}

#topnav-logo{
  height: 100%;
}

.navbar-button{
  display:inline-block;
}

#product-name-row{
  font-size: 300%;
  margin-left: 17%;
}

#product-name{
  margin:0%;
}
#product1 {
  background-color: yellow;
  height: 680px;
  padding: 5px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  display: flex;

}

.child1 {
  border: 1px solid red;
  width: 90%;
  margin-top:5%;
  /* margin: auto; */
}


#spec-bar {
  background-color: yellow;
  height: 50px;
  padding: 5px;
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* flex-direction: column;
  align-items: center; */
}

.child2 {
  border: 1px solid red;
  height: 50px;
  width: 20%;
}

#parent3 {
  background-color: yellow;
  height: 100px;
  padding: 5px;
  margin: 5px;
  width: 50%;
  position: relative;
}

.child3 {
  border: 1px solid red;
  height: 50px;
  width: 20%;
  position: absolute;
  left: 50%;
  transform: translate(-50%)
}

#parent4 {
  background-color: yellow;
  height: 100px;
  padding: 5px;
  margin: 5px;
  width: 50%;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
}

.child4 {
  border: 1px solid red;
  height: 50px;
  width: 20%;
}